<header>
	<h2>Contact Richard</h2>
</header>

<form method="post" action="{{ site.data.contact.contact_settings.form_action }}">

	<div style="width: 50%;">
		<p class="contact-form__item">
			<label class="contact-form__label">Email Address *</label>
			<input type="text" name="email" placeholder="Your email address..." class="contact-form__input">
		</p>

		<p class="contact-form__item">
			<label class="contact-form__label">Name *</label>
			<input type="text" name="name" placeholder="Your name..." class="contact-form__input">
		</p>
	</div>

	<div style="width: 50%;">
		<p class="contact-form__item">
			<label class="contact-form__label">Message *</label>
			<textarea name="message" placeholder="Your message..." class="contact-form__textarea"></textarea>
		</p>

		<input type="hidden" name="_next" value="{{ site.data.contact.contact_settings.confirmation_url }}" />
		<input type="hidden" name="_subject" value="{{ site.data.contact.contact_settings.email_subject }}" />
		<input type="text" name="_gotcha" style="display: none;" class="contact-form__gotcha" val="">

		<p class="contact-form__item">
			<input type="submit" value="{{ site.data.contact.contact_settings.send_button_text }}" class="button button--large">
		</p>
	</div>

</form>