<!doctype html>
<html>
    <head>    
        
        <title>{% if page.url == "/index" %}{{ site.title }}{% else %}{{ page.title }} – {{ site.title }}{% endif %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

        <!-- Page Info -->
        <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ page.excerpt }}{% endif %}">

        <!-- Twitter Card -->
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="{% if page.url == "/index" %}{{ site.title }}{% else %}{{ page.title }} – {{ site.title }}{% endif %}">
        <meta name="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}{{ page.excerpt }}{% endif %}">
        <meta name="twitter:image:src" content="{{ site.url }}/images/13575949_10154255720829590_8317084945855867197_o.jpg">

        <!-- Facebook OpenGraph -->
        <meta property="og:title" content="{% if page.url == "/index" %}{{ site.title }}{% else %}{{ page.title }} – {{ site.title }}{% endif %}" />
        <meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ page.excerpt }}{% endif %}" />
        <meta property="og:image" content="{{ site.url }}/images/13575949_10154255720829590_8317084945855867197_o.jpg" />

        <link rel="stylesheet" href="{{ 'assets/css/main.css' | relative_url }}" />
        <link rel="stylesheet" href="{{ 'assets/css/markdown-images.css' | relative_url }}" />
        
    </head>
    <body class="{% if page.layout == site.landing_template %}landing {% endif %}">
        
        {{ content }}
        <!-- Scripts -->
        <script src="{{ 'assets/js/jquery.min.js' | relative_url }}"></script>
        <script src="{{ 'assets/js/jquery.dropotron.min.js' | relative_url }}"></script>
        <script src="{{ 'assets/js/jquery.scrollex.min.js' | relative_url }}"></script>
        <script src="{{ 'assets/js/browser.min.js' | relative_url }}"></script>
        <script src="{{ 'assets/js/breakpoints.min.js' | relative_url }}"></script>
        <script src="{{ 'assets/js/util.js' | relative_url }}"></script>
        <script src="{{ 'assets/js/init.js' | relative_url }}"></script>
        <script src="{{ 'assets/js/page_load.js' | relative_url }}"></script>
    </body> 
</html>
