///
/// Archetype by Pixelarity
/// pixelarity.com | hello@pixelarity.com
/// License: pixelarity.com/license
///

/* Footer */

	#footer {
		@include banner-bg('../../images/13581993_10154255730719590_3361858312418561289_o.jpg');
		@include color-typography(accent4);
		@include color-button(accent4);
		@include color-section(accent4);

		.content {
			@include padding(6.5em, 0);
			background-color: _palette(accent4, bg);

			> .inner {
				margin: 0 auto;
				width: 70em;
				
				> form {
					@include vendor('display', 'flex');

					label {
						color: white;
					}

					> * {
						padding-left: (_size(element-margin) * 1.5);
						width: 50%;

						&:first-child {
							padding-left: 0;
						}
					}
				}
			}

			@include breakpoint('<=large') {
				@include padding(5em, 3em);

				> .inner {
					width: _size(inner-width, large);
				}
			}

			@include breakpoint('<=medium') {
				> .inner {
					@include vendor('flex-wrap', 'wrap');
				}
			}

			@include breakpoint('<=small') {
				@include padding(2.5em, 2em);
			}

			@include breakpoint('<=xsmall') {
				@include padding(2.5em, 1.5em);

				> .inner {
					> * {
						width: 100%;
					}
				}
			}
		}

		.copyright {
			font-size: 0.8em;
			margin: 0;
			padding: 8em 0;
			text-align: center;

			br {
				display: none;
			}

			a {
				color: inherit;
			}

			@include breakpoint('<=large') {
				padding: 6em 0;
			}

			@include breakpoint('<=small') {
				padding: 4em 0;
			}

			@include breakpoint('<=xsmall') {
				br {
					display: block;
				}
			}
		}

		body.is-mobile & {
			background-attachment: scroll;
		}
	}